@font-face {
    font-family: 'Roboto_Playfair';
    src: url('./Assets/Roboto-VariableFont_wdth\,wght.ttf') format('truetype'),
         url('./Assets/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
  height: 100%;   
  
}

body {
    font-family:'Roboto_Playfair','Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #87ACA3;
    padding: 15px;
}

img {
    height: auto;
    max-width: 300px;
}

header {
    display : flex;
    align-items: center;
}

h1{
    position: absolute;
    top: 150px;
    color: #0C1446;
    background-color: white;
    border: 2px black groove;
}

footer {
    border: 2px blue solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #2B7C85;
    color: whitesmoke;
    align-self: stretch;
}

.profile {
    padding: 15px;
}
.about {
    background-color: whitesmoke;
    color: #2B7C85;
    padding: 15px;
    border: 2px solid #2B7C85;
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background-image: url('./Assets/background-small.jpg');
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #A5CFE3;
    color: #00221C;
    min-width: 200px;
    height: auto;
    padding: 10px;
}

.icon {
    height: auto;
    width: 20px;
}



@media (max-width : 320px){
    header {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about {
        flex-direction: column;
    }
}

@media (max-width : 1120px){
    header {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about {
        flex-direction: column;
    }
    h1 {
        right: 15px;
        top: 20px;
    }
}

@media (max-width : 1920px){

}