@font-face {
    font-family: 'Roboto_Playfair';
    src: url('./Assets/Roboto-VariableFont_wdth\,wght.ttf') format('truetype'),
         url('./Assets/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: aqua;
    font-family:'Roboto_Playfair','Courier New', Courier, monospace;
}